/* Global styles */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  line-height: 1.6;
}

/* Header styles */
header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
  border-bottom: 2px solid #222; /* Add a subtle border for distinction */
}

/* Logo styles */
header img {
  width: 150px;
  height: auto;
  border-radius: 50%;
  border: 4px solid white; /* Create a border around the logo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
}

/* Main content styles */
main {
  max-width: 95%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 28px;
}

h2 {
  margin-top: 0;
  color: #555;
  border-bottom: 2px solid #ddd; /* Add a bottom border to section headings */
  padding-bottom: 5px;
}

section {
  margin-bottom: 30px;
  text-align: center;
}

ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
}

li {
  margin-bottom: 10px;
  transition: background-color 1s ease;
  -webkit-transition: background-color 1s ease;
  -moz-transition: background-color 1s ease;
  -ms-transition: background-color 1s ease;
  -o-transition: background-color 1s ease;
}

a {
  text-decoration: none;
  color: #333;
  font-size: 24px;
}
li:hover {
  background-color: #eee;
}

button {
  padding: 12px 24px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add smooth transition */
}

button:hover {
  background-color: #777;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 600px) {
  /* Adjust styles for smaller screens/mobile */
  main {
    padding: 10px;
  }
  h1 {
    font-size: 22px;
  }
  h2 {
    font-size: 20px;
  }
  button {
    padding: 10px 20px;
    font-size: 14px;
  }
  /* Add more responsive styles as needed */
}

/* Define colors for the icons */
.phone-icon {
  color: blue; /* Change the color as needed */
}

.facebook-icon {
  color: #3b5998; /* Change the color as needed */
}

.instagram-icon {
  color: #c13584; /* Change the color as needed */
}

.whatsapp-icon {
  color: #25d366; /* Change the color as needed */
}

.tiktok-icon {
  color: #000; /* Change the color as needed */
}

/* Footer Style */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  font-size: 14px;
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  color: #fff;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}
